@import "https://fonts.googleapis.com/css?family=Montserrat";
@import url(../css/font-awesome.css);
::-moz-selection {
    color: #ffffff;
    background: #313050;
}
::selection {
    color: #ffffff;
    background: #313050;
}
::-webkit-input-placeholder {
    color: #666E6F;
}
:-moz-placeholder {
    color: #666E6F;
}
::-moz-placeholder {
    color: #666E6F;
}
:-ms-input-placeholder {
    color: #666E6F;
}
.content-container .content .filter {
    display: inline-block;
    position: fixed;
    width: 20%;
    padding-left: 2.5%;
}
.content-container .content .filter .sh {
    color: #4ae589;
}
.content-container .content .filter p {
    display: inline;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 0;
}
.content-container .content .filter .hide {
    font-size: 12px;
    font-weight: 100;
    margin-top: 15px;
    color: #9593c5;
}
.content-container .content .filter .form-s {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.content-container .content .filter .form-s .badge {
    float: right;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    padding: 4px;
    border-radius: 60px;
    display: inline-block;
    position: relative;
    top: -2.5px;
    min-width: 10px;
    text-align: center;
    font-size: 12px;
    color: #f0f6f7;
    background: #49d6db;
    border-radius: 10px;
}
.content-container .content .filter .form-s a {
    display: block;
    transition: all .3s ease;
    font-size: 12px;
    padding: 12px 24px;
    background: transparent;
    text-align: left;
    border-left: 1px solid #49d6db;
    border-right: 1px solid #49d6db;
    border-bottom: 1px solid #49d6db;
    color: #f0f6f7;
    text-decoration: none;
    transition: all .3s ease;
}
.content-container .content .filter .form-s a:first-child {
    border-top: 1px solid #49d6db;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}
.content-container .content .filter .form-s a:last-child {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
.content-container .content .filter .form-s a:hover {
    transition: all .3s ease;
    background: #3ed4d9;
    color: #f0f6f7;
}
.content-container .content .filter .form-s a:focus {
    transition: all .3s ease;
    background: #49d6db;
    color: #f0f6f7;
}
.content-container .content .table {
    margin-left: 35%;
    width: 65%;
    display: inline-block;
}
.content-container .content .table h3 {
    font-weight: 100;
    font-size: 28px;
    color: #f0f6f7;
    margin-top: 0;
}
.content-container .content .table h2 {
    font-weight: 100;
    font-size: 18px;
    color: #9593c5;
    margin-top: -2%;
}
.content-container .content .table h1 {
    font-weight: 100;
    font-size: 12px;
    color: #9593c5;
    margin-top: -0.5%;
}
.content-container .content .table .data .s {
    color: #4ae589 !important;
}
.content-container .content .table .data .dTitle {
    color: #f0f6f7;
    font-size: 28px;
    font-weight: 100;
    margin-top: 5%;
}
.content-container .content .table .data .last {
    margin-bottom: 50px;
}
.content-container .content .table .data .item {
    padding-bottom: 10px;
    border-top: 1px solid #38385a;
}
.content-container .content .table .data .item .sRef {
    display: inline-block;
    width: auto;
    padding: 8px;
    float: right;
    z-index: -1;
    text-align: right;
}
.content-container .content .table .data .item .sRef a[data-tooltip] {
    position: relative;
}
.content-container .content .table .data .item .sRef a[data-tooltip][data-placement="bottom"]::before {
    top: 100%;
    left: -40px;
    margin-top: 10px;
}
.content-container .content .table .data .item .sRef a[data-tooltip][data-placement="bottom"]::after {
    border-bottom-color: #4ae589;
    border-top: none;
    top: 100%;
    left: 0px;
    margin-top: 4px;
}
.content-container .content .table .data .item .sRef a[data-tooltip]::before,
.content-container .content .table .data .item .sRef a[data-tooltip]::after {
    position: absolute;
    display: none;
    opacity: 0.85;
}
.content-container .content .table .data .item .sRef a[data-tooltip]::before {
    content: attr(data-tooltip);
    background: #4ae589;
    color: #f0f6f7;
    font-size: 12px;
    padding: 10px;
    border-radius: 6px;
    white-space: nowrap;
    text-decoration: none;
}
.content-container .content .table .data .item .sRef a[data-tooltip]::after {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    content: "";
}
.content-container .content .table .data .item .sRef a[data-tooltip]:hover::before,
.content-container .content .table .data .item .sRef a[data-tooltip]:hover::after {
    display: block;
}
.content-container .content .table .data .item .iTitle {
    color: #f0f6f7;
    padding-top: 1.5%;
    font-weight: 100;
    font-size: 24px;
    display: inline-block;
    width: 50%;
}
.content-container .content .table .data .item .desc {
    font-size: 18px;
    font-weight: 100;
    color: #9593c5;
    letter-spacing: .5px;
}
.content-container .content .table .data .item .iSub {
    color: #9593c5;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: .5px;
}
.content-container .content .table .data .item .iSub .sTag {
    border: 1px solid #4ae589;
    font-size: 12px;
    color: #4ae589;
    padding: 4px 8px;
    margin-right: 5px;
    text-align: center;
}
.shift {
    text-decoration: none;
    color: white;
    padding: 0.2em;
    line-height: 0.8em;
    display: inline-block;
    background-size: 250% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-image: -webkit-linear-gradient(315deg, #49d6db, #5cc1e1, #4ae589, #4ae5c2);
    background-image: linear-gradient(-45deg, #49d6db, #5cc1e1, #4ae589, #4ae5c2);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.shift:hover {
    background-position: 100% 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-animation: 1s return infinite alternate;
    -moz-animation: 1s return infinite alternate;
    animation: 1s return infinite alternate;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
@-webkit-keyframes return {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
@-moz-keyframes return {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
@keyframes return {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
@media (min-width: 320px) {
    .navigation-container .navigation ul li a {
        font-size: 10px !important;
    }
    .content-container .content .title {
        font-size: 32px !important;
    }
    .content-container .content .filter {
        display: none !important;
    }
    .content-container .content .table {
        margin-left: 0;
        width: 100%;
    }
    .content-container .content .table h3 {
        font-size: 18px;
    }
    .content-container .content .table h2 {
        font-size: 16px;
    }
    .content-container .content .table .data .dTitle {
        font-size: 18px;
    }
    .content-container .content .table .data .item .iTitle {
        font-size: 18px;
        margin-top: 2px;
    }
    .content-container .content .table .data .item .desc {
        font-size: 14px;
    }
    .footer-container .footer .social a {
        font-size: 14px !important;
        padding-top: 7.5px !important;
    }
    .footer-container .footer .copy {
        padding-top: 7.5px !important;
    }
    .footer-container .footer .copy p {
        font-size: 10px !important;
    }
}
@media (max-width: 375px) {
    .navigation-container .navigation ul li:last-child {
        margin-right: 0 !important;
    }
    .content-container {
        padding-top: 45%;
    }
    .content-container .content .title {
        font-size: 28px !important;
    }
    .footer-container .footer .social {
        width: 35% !important;
    }
    .footer-container .footer .copy {
        width: 55% !important;
    }
}
@media (min-width: 376px) {
    .navigation-container .navigation ul li:last-child {
        margin-right: 5% !important;
    }
}
@media (min-width: 414px) {
    .content-container {
        padding-top: 40%;
    }
}
@media (min-width: 321px) and (max-width: 374px) {
    .navigation-container .navigation ul li a {
        font-size: 12px !important;
    }
    .footer-container .footer .social a {
        font-size: 18px !important;
        padding-top: 6px !important;
    }
    .footer-container .footer .copy {
        padding-top: 4.5px !important;
    }
    .footer-container .footer .copy p {
        font-size: 12px !important;
    }
    .content-container .content .title {
        font-size: 32px !important;
    }
}
@media (min-width: 320px) {
    html {
        -webkit-font-smoothing: antialiased;
    }
    body {
        background: #292942;
        background-size: cover;
        font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;
    }
    .navigation-container {
        display: block;
        width: 100%;
        height: 50px;
        background: #313050;
        position: fixed;
        z-index: 1;
        top: 0;
    }
    .navigation-container .navigation {
        display: inline-block;
        width: 100%;
        height: 50px;
    }
    .navigation-container .navigation ul {
        display: inline-block;
        float: right;
        list-style-type: none;
        width: 47%;
        margin-right: 3%;
        padding: 0;
        text-align: right;
    }
    .navigation-container .navigation ul li {
        display: inline-block;
        margin-left: 10px;
    }
    .navigation-container .navigation ul li:first-child {
        margin-left: 0;
    }
    .navigation-container .navigation ul li:last-child {
        margin-right: 2% !important;
    }
    .navigation-container .navigation ul li a {
        color: #9593c5;
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
    }
    .navigation-container .navigation .logo-container {
        margin: 0;
        padding: 0;
        width: 100%;
        display: inline-block;
        width: 50%;
    }
    .navigation-container .navigation .logo-container a {
        padding: 10px 5% 0 20px;
        color: #9593c5;
        text-decoration: none;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 1px;
        font-weight: 100;
    }
    .navigation-container .navigation .logo-container .hyper,
    .navigation-container .navigation .logo-container .nova,
    .navigation-container .navigation .logo-container .pulse,
    .navigation-container .navigation .logo-container .shift {
        top: 0;
    }
    .navigation-container .navigation .logo-container .logo {
        position: relative;
    }
    .navigation-container .navigation .logo-container .logo img {
        width: 128px;
        height: auto;
        position: relative;
        top: 10px;
    }
    .content-container {
        display: block;
        width: 100%;
        height: auto;
        padding-top: 30%;
    }
    .content-container .content {
        display: block;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .content-container .content .title {
        width: 100%;
        line-height: 30px;
        font-weight: 600;
        color: #9593c5;
        margin-left: -10px;
        text-align: center;
    }
    .content-container .content .subtitle {
        font-size: 14px;
        width: 100%;
        line-height: 20px;
        font-weight: 100;
        color: #9593c5;
        letter-spacing: 1px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .content-container .content .btn-g {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
    }
    .content-container .content .btn-g .alt {
        background: transparent !important;
        transition: all .3s ease;
        opacity: 1;
    }
    .content-container .content .btn-g .alt:hover {
        transition: all .3s ease;
        opacity: .7;
    }
    .content-container .content .btn-g .btn-s {
        position: relative;
        border: 2px solid transparent;
        border-radius: 12px;
        background-size: 250% 100%;
        background: #292942;
        background-clip: padding-box;
        padding: 12px 24px;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #f0f6f7;
        text-transform: uppercase;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }
    .content-container .content .btn-g .btn-s:after {
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        background-size: 250% 100%;
        background-image: -webkit-linear-gradient(315deg, #49d6db, #5cc1e1, #4ae589, #4ae5c2);
        background-image: linear-gradient(-45deg, #49d6db, #5cc1e1, #4ae589, #4ae5c2);
        content: '';
        z-index: -1;
        border-radius: 12px;
        -webkit-transition: all 3s linear;
        -moz-transition: all 3s linear;
        transition: all 3s ease;
    }
    .content-container .content .btn-g .btn-s:hover {
        background-image: -webkit-linear-gradient(315deg, #49d6db, #5cc1e1, #4ae589, #4ae5c2);
        background-image: linear-gradient(-45deg, #49d6db, #5cc1e1, #4ae589, #4ae5c2);
        -webkit-transition: all 3s linear;
        -moz-transition: all 3s linear;
        transition: all 3s ease;
    }
    .footer-container {
        display: block;
        width: 100%;
        height: 50px;
        background: #313050;
        position: fixed;
        bottom: 0;
    }
    .footer-container .footer {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
    }
    .footer-container .footer .social {
        display: inline-block;
        width: auto;
        float: left;
        height: auto;
        padding-top: 6px;
        padding-left: 5%;
    }
    .footer-container .footer .social a {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
        padding-top: 6px;
        text-transform: uppercase;
        transition: all .35s ease;
        opacity: 1;
    }
    .footer-container .footer .copy {
        display: inline-block;
        width: 55%;
        padding-right: 5%;
        float: right;
        height: auto;
        padding-top: 6px;
    }
    .footer-container .footer .copy p {
        color: #9593c5;
        font-weight: 400;
        text-align: right;
    }
}
@media (min-width: 641px) {
    .navigation-container .navigation .logo-container {
        width: 47.5%;
        padding-left: 2.5%;
    }
    .content-container {
        padding-top: 25%;
    }
    .content-container .content {
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
    }
    .content-container .content .subtitle {
        width: 70%;
    }
}
@media (min-width: 961px) {
    .navigation-container .navigation .logo-container {
        width: 47.5%;
        padding-left: 2.5%;
    }
    .content-container {
        padding-top: 10%;
    }
    .content-container .content {
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
    }
    .content-container .content .subtitle {
        width: 70%;
    }
    .content-container .content .filter {
        display: inline-block !important;
        width: 25%;
    }
    .content-container .content .table {
        margin-left: 35%;
        width: 65%;
        display: inline-block;
    }
    .content-container .content .table h3 {
        font-size: 24px;
    }
    .content-container .content .table h2 {
        font-size: 18px;
    }
    .content-container .content .table .data .dTitle {
        font-size: 24px;
    }
}
@media (min-width: 1025px) {
    .navigation-container .navigation .logo-container {
        width: 47.5%;
        padding-left: 2.5%;
    }
    .content-container .content .filter {
        display: inline-block !important;
        width: 25%;
    }
}
@media (min-width: 1281px) {
    .navigation-container .navigation {
        width: 85%;
        padding-left: 15%;
    }
    .navigation-container .navigation .logo-container {
        padding-left: 0;
        width: 50%;
    }
    .navigation-container .navigation ul {
        width: 32%;
        margin-right: 18%;
    }
    .content-container .content {
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
    }
    .content-container .content .subtitle {
        width: 70%;
    }
    .content-container .content .filter {
        display: inline-block !important;
        width: 20%;
    }
    .footer-container .footer .social {
        padding-left: 15%;
    }
    .footer-container .footer .copy {
        padding-right: 15%;
    }
}
